<h1>Listing quotes</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Url</th>
    <th>Posted By</th>
    <th></th>
    <th></th>
  </tr>

<% @quotes.each do |quote| %>
  <tr>
    <td><%= quote.title %></td>
    <td><%= quote.body %></td>
    <td><%= quote.url %></td>
    <% unless quote.user_id.blank? %>
    <td><%= User.find(quote.user_id).username %></td>
    <% else %>
    <td></td>
    <% end %>
    <td><%= link_to 'Show', quote %></td>
    <td><%= link_to 'Edit', edit_quote_path(quote) %></td>
    <td><%= link_to 'Destroy', quote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Quote', new_quote_path %>
