<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @quote.title %>
</p>

<p>
  <b>Body:</b>
  <%= @quote.body %>
</p>

<p>
  <b>Url:</b>
  <%= @quote.url %>
</p>


<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
